@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
/* Jalya */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --background: #fffaf5;
  --blackmain: #241400;
  --mantserrat-font: "Montserrat", sans-serif;
  --robotoFont: "Roboto", sans-serif;
  --orange: #e16a00;
  --blue: #2f80ed;
  --red: #eb5757;
  --white: #fff;
  --rubikFont: "Rubik", sans-serif;
  --blackForComms: #232323;
}

body {
  background-color: var(--background);
  justify-content: center;
}

:root {
  --Brown: #391f00;
  --Orange: #e16a00;
  --Black: #241400;
  --Background: #fffaf5;
  --fontMontserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--Background);
  font-family: var(--fontMontserrat);
}



.about-book {
  display: flex;
 
  margin-top: 6rem;
}

.about-text button {
  width: 100px;
  height: 29px;
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--mantserrat-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%; /* 23.542px */
  text-transform: uppercase;
  box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
  border-color: var(--orange);
  border-radius: 4px;
}

.about-book {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
}

.about-text {
  width: 686px;
}
.about-text button {
  margin-bottom: 90px;
}

.about-text .book-year {
  width: 69px;
  height: 23px;
  background-color: var(--blue);
  border-radius: 2px;
  box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 90px; */
}

.book-year p {
  margin: 0;
  color: #fff;
  font-family: var(--mantserrat-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.book-text h2 {
  color: var(--blackmain);
  font-family: var(--mantserrat-font);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%; /* 68.666px */
}

.book-text h5 {
  color: var(--blackmain);
  font-family: var(--mantserrat-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 196.187%; /* 31.39px */
}
.book-text h6 {
  color: var(--blackmain);
  font-family: var(--mantserrat-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%; /* 43.161px */
}

.book-text p {
  display: flex;
  width: 686px;
  /* height: 272px; */
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--blackmain);
  font-family: var(--mantserrat-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%; /* 35.314px */
}

.new-modal {
  width: 84px;
  height: 28px;
  flex-shrink: 0;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 15px;
  border-radius: 4px;
}

.new-modal p {
  color: var(--white);
  font-family: var(--mantserrat-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%; /* 23.542px */
  text-transform: uppercase;
  display: flex;
  width: 36px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.about-img {
  position: relative;
}

/* COMMENTS  */

.comments {
  display: flex;
  flex-direction: column;
}
.comments_area {
  display: flex;
  justify-content: start;
}
.send-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 60.109px;
  height: 60px;
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28.552px;
  height: 28.148px;
  fill: #fff;
}

.input-btn input {
  width: 634px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  border: none;
  padding-left: 20px;
}

.input-btn input::placeholder {
  width: 265px;
  height: 20px;
  flex-shrink: 0;
  color: var(--blackForComms);
  font-family: var(--robotoFont);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  padding-left: 38px;
  padding-top: 21px;
}

.input-btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 636px;
  margin-bottom: 53px;
}

.input-btn input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
}


.anonim-comments .comm1 {
  width: 636px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-direction: column;
  padding: 28px 18px;
  margin-bottom: 43px;
}

.user1-info {
  display: flex;
  align-items: center;
  gap: 45px;
}

.user1-info h2 {
  color: var(--blackForComms);
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--rubikFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.user1-info p {
  color: var(--blackForComms);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.comm1 p {
  color: var(--blackForComms);
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--rubikFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 650.253px;
}

/* COMMENT 2  */

.anonim-comments .comm2 {
  width: 686px;
  height: 167px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-direction: column;
  padding: 28px 18px;
}

.user2-info {
  display: flex;
  align-items: center;
  gap: 45px;
}

.user2-info h2 {
  color: var(--blackForComms);
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--rubikFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.user2-info p {
  color: var(--blackForComms);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.comm2 p {
  color: var(--blackForComms);
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--rubikFont);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 650.253px;
}

.comments {
  margin-bottom: 148px;
}

/* SOCIAL MEDIA */
.social-text {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
  color: var(--blackmain);
  margin-bottom: 30px;
}

.social-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 133px;
}



/* Responsive Styles */

/* Mobile */
@media only screen and (max-width: 600px) {
  .menuNav {
    display: none;
  }

  .mobile-menu {
    display: block;
    margin-left: 190px;
  }

  .joinUs {
    display: none;
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* margin-left: 15px; */
  }

  .header .headerContainer .menu-mobile {
    /* float: right; */
    display: block;
    margin-left: auto;
  }

  .about-book .about-text button {
    width: 81px;
    height: 23.49px;
    border: none;
    margin-left: 15px;
    /* margin-top: 51px; */
  }

  .about-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

 

  .about-text .book-text {
    display: block;
  }

  .about-img .new-modal {
    display: none;
  }

  .book-text {
    display: block;
  }

  /* .book-year-mobile {
    width: 69px;
    height: 23px;
    background-color: var(--blue);
    border-radius: 2px;
    box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 58px;
    margin-bottom: 44px;
    /* margin: 90px; 
  } */

  /* .book-year-mobile p {
    margin: 0;
    color: #fff;
    font-family: var(--mantserrat-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    width: 30px;
    height: 9px;
  } */

  /* .book-text-mob {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */


  .about-book {
    flex-direction: column;
    gap: 20px;
    /* flex-direction: column; */
  }

  .about-text,
  .about-img {
    width: 100%;
  }

  .about-text button {
    width: 100%;
    margin-bottom: 20px;
  }

  .comments {
    padding-left: 0;
  }

  .input-btn input {
    width: 100%;
  }

  .anonim-comments .comm1,
  .anonim-comments .comm2 {
    width: 100%;
  }

}

.menu-mobile {
  display: none;
}

.book-year-mobile {
  display: none;
}

.book-text-mob {
  display: none;
}



.copyrigh-mob {
  display: none;
}

.menu-mobile {  
  display: none;
}

.mobileNav {
  display: none;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background: rgba(36, 20, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}


.overlay a {
  margin-right: 30px;
  padding: 8px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  display: block;
  transition: 0.3s;
  color: #F2F2F2;
  
}

.overlay .closebtn {
  /* position: absolute; */
  /* top: 0px; */
  /* right: 0px; */
  font-size: 60px;
}
.menu-mobile {
  display: none;
}
/* Responsive Styles */

/* Mobile */
@media only screen and (max-width: 800px) {

  .menu-mobile {
    display: block;
  }
  .menuNav {
    display: none;

  }

  .joinUs {
    display: none;
  }

.menu-mobile {
  display: block;
  
}


  .headerContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* margin-left: 15px; */
  }

  .header .headerContainer .menu-mobile {
    /* float: right; */
    display: block;
    margin-left: auto;
  }

  .about-book .about-text button {
    width: 81px;
    height: 23.49px;
    border: none;
    margin-left: 15px;
    /* margin-top: 51px; */
  }

  .about-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

 

  .book-year {  
    display: block;
    margin-left: 15px;
    margin-top: 30px;
  }

  .about-text .book-text {
    display: block;
  }

  .about-img .new-modal {
    display: none;
  }

  .about-img .book-year-mobile {
    display: block;
  }

  .book-year-mobile {
    width: 69px;
    height: 23px;
    background-color: var(--blue);
    border-radius: 2px;
    box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 58px;
    margin-bottom: 44px;
    /* margin: 90px; */
  }

  .book-year-mobile p {
    margin: 0;
    color: #fff;
    font-family: var(--mantserrat-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    width: 30px;
    height: 9px;
  }

  /* comments section mobile   */

  .comments {
    display: block;
  }

  .comments .inputComments {
    width: 470px;
  }

  

  .comments .send-button {
    margin: 0;
    padding: 0;
  }

  .comments {
    margin-bottom: 48px;
  }

  .input-btn {
    width: 100%;
  }

  .input-btn input {
    width: calc(100% - 40px);
  }

  .send-button {
    right: 3px;
    width: 60px;
    height: 60px;
  }

  .send-icon {
    width: 20px;
    height: 20px;
  }

  .commentsSection1 {
    /* Add these styles */
    overflow: hidden; /* Hide any content that overflows the div */
    word-wrap: break-word; /* Break long words to prevent overflow */
  }

  /* comments section mobile end  */

  /* about book description  */



  .book-text {
    display: block;
  }

  .book-text {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .book-text h2 {
    color: var(--Black);

    /* Заголовок h2 */
    font-family: var(--fontMontserrat);
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 196.187%; /* 49.047px */
    text-align: center;
  }

  .book-text h5 {
    text-align: center;
  }

  .book-text h6 {
    color: var(--Black);
    text-align: center;
    font-family: var(--fontMontserrat);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 196.187%; /* 23.542px */
  }
  .book-text p {
    color: var(--Black);
    text-align: center;
    font-family: var(--fontMontserrat);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 23.542px */
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 82px;
    max-width: 500px;
  }

.about-img img {
  margin-bottom: 100px;
}

  /* about book description  */

}





/* Jalya */
