@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --Brown: #391F00;
    --Orange: #E16A00;
    --Black: #241400;
    --Background: #fffaf5;
    --Border: #ccc;
    --Button: #E16A00;
    --Hover: #FF7F00;
    --fontMontserrat: 'Montserrat', sans-serif;
}

body {
    background-color: var(--Background);
    font-family: var(--fontMontserrat);
}

.containerContact {
    margin-top: 112px;
    padding-left: 130px;
    padding-right: 100px;
}

.contactHeading {
    font-family: var(--fontMontserrat);
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    /* padding-left: 15px; */
    line-height: 196.187%; /* 70.627px */
    margin-bottom: 10px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 30px;
}

.column {
    flex: 1;
    padding: 0 15px;
    margin-bottom: 15px;
}

.fullwidth {
    flex-basis: 100%;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid --Border;
    border-radius: 5px;
}

input.form-control{
    padding-left: 1rem;
}

textarea.form-control {
    height: auto;
}


.sendButton {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Crimson Text;
    font-weight: 400;
    word-wrap: break-word;
    width: 610px;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: var(--Button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.sendButton:hover {
    background: var(--Hover);
}

/* MOBILE */

@media only screen and (min-width: 601px) and (max-width: 800px) {

  .containerContact {
    /* padding: 0 15px; */
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    align-self: center;
  }
  .row {
    flex-direction: column;
    gap: 15px;
  }
  .column {
    flex: 1 1 100%;
  }
  .sendButton {
    width: 243px;
    height: 49px;
  }
  /* .containerContact h2 {
    align-self: flex-start; 
  } */
  }
  
  
   @media only screen and (min-width: 300px) and (max-width: 600px) {
    
    body{
      justify-self: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
  
    }
  
      .containerContact {
        /* padding: 0 15px; */
        /* width: 100%; */
        /* margin: 0 auto; */
        /* display: flex;
        flex-direction: column; */
        align-self: flex-start;
        justify-content: flex-start;
      }
      .row {
        flex-direction: column;
        gap: 15px;
        justify-content: flex-start;
      }
      .column {
        flex: 1 1 100%;
        justify-content: flex-start;
      }
      .sendButton {
        width: 153px;
        height: 49px;
        justify-content: flex-start;
      }
  
      .column input{
        height: 49px;
        width: 153px;
      }
    }
   