@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background: #FFFAF5;
  --blackmain: #241400;
}

JOIN US 



.join-us {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease all;
}

.join-us:hover {
  opacity: 0.5;
}

.join-us :first-child {
  margin-right: 8px;
}

.join-us :nth-child(2) {
  color: var(--mainColorText);
}


.modal {
  /* display none for default  */
  display: none;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  cursor: auto;
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 675px;
  height: 555px;
}

.join-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 55px 35px 55px;
}

.join-modal span {
  font-size: 44px;
  font-weight: 700;
  color: #000;
  margin-bottom: 48px;
}

.join-inp {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 86px;
}

.join-inp input {
  padding: 18px 0 18px 55px;
  border: 1px solid #CECECE;
  background-color: #FFF;
  color: #797667;
  font-weight: 400;
  font-size: 19px;
  outline: none;
}

.join-inp :first-child {
  margin-bottom: 34px;
}

.join-btn {
  width: 100%;
  background-color: #E16A00;
}

.join-btn :first-child {
  width: 100%;
  height: 76px;
  color: #FFF;
  font-size: 19px;
  font-weight: 700;
  background-color: var(--mainColorOrange);
  border: 1px solid #CECECE;
  border-radius: 5px;
  outline: none;
}

.join-btn :first-child:hover {
  opacity: 0.8;
  cursor: pointer;
}


