@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* MAIN */

:root {
  --Brown: #391f00;
  --Orange: #e16a00;
  --Black: #241400;
  --Background: #fffaf5;
  --white: #fff;
  --fontMontserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--Background);
  font-family: var(--fontMontserrat);
}

/* HEADER */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--Background); /* Add background color as needed */
  z-index: 1000; /* Set a higher z-index to ensure it stays above other elements */
}

.headerContainer {
  display: flex;
  height: 86px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
  /* margin-bottom: 80px; */
  border-bottom: 2px solid whitesmoke;
}

.menuNav {
  display: flex;
}

.menuNav li a {
  color: var(--Black);
  font-family: var(--fontMontserrat);
  font-weight: 400;
  font-size: 12px;
  margin-right: 21px;
  text-decoration: none;
}

.joinUs {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease all;
}

.joinUs:hover {
  opacity: 0.5;
}

.active {
  color: var(--Orange) !important;
  text-decoration: underline;
  font-weight: 700 !important;
}

/* SOCIAL MEDIA */
.social-text {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
  color: var(--Black);
  margin-bottom: 30px;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 133px;
  margin-bottom: 133px;
}

.social-sect .media-logos {
  margin-left: 25px;
}

.facebook-logo,
.twitter-logo {
  margin-right: 52px;
  cursor: pointer;
}

/* FOOTER */

.footerContainer {
  background-color: var(--Brown);
}

/* .bottom-logo{
    padding-left: 0px;
    size: 42px;
} */

.bottom-logo {
  margin-left: 214px;
}
.footerNav ul li a {
  text-decoration: none;
}
.footerContainer {
  background-color: var(--Brown);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0 50px 0;
  margin-bottom: 50px;
}
.footer-right {
  display: flex;
  width: 48.8%;
}
.footerNav {
  margin-right: 91px;
}
.footerNav h3 {
  font-size: 18px;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 12px;
}

.footerNav ul li {
  margin-bottom: 8px;
}
.footerNav ul li a {
  color: var(--white);
  font-size: 12px;
  font-weight: 200;
}
.footerNav ul li a:hover {
  opacity: 0.6;
}

.copyright {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: var(--Black);
  color: var(--white);
  text-align: center;
  padding-bottom: 20px;
}

.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.notification {
  width: 250px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
}

.success-notification {
  background-color: rgba(
    0,
    196,
    0,
    0.8
  ); /* Change background color for success */
}

.timer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #fff;
  animation: fillTimer 5s linear forwards;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Orange);
  border-radius: 10px;
  
}


@keyframes fillTimer {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}


.menu-mobile {  
  display: none;
}

.mobileNav {
  display: none;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background: rgba(36, 20, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}


.overlay a {
  margin-right: 30px;
  padding: 8px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  display: block;
  transition: 0.3s;
  color: #F2F2F2;
  
}

.overlay .closebtn {
  /* position: absolute; */
  /* top: 0px; */
  /* right: 0px; */
  font-size: 60px;
}
.menu-mobile {
  display: none;
}

/* !!! */
/* ADD ON HTML SIDE MENU SVG AFTER LOGO IN YOUR PAGE!!!  */
/* ADD THIS :  */
/* <div class="menu-mobile"> 
<svg width="27" height="19" viewBox="0 0 27 19" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect y="8" width="27" height="3" fill="#241400"/>
  <rect y="16" width="27" height="3" fill="#241400"/>
  <rect width="27" height="3" fill="#241400"/>
  </svg> */

@media only screen and (max-width: 800px) {
  .menu-mobile {
    display: block;
  }
  .menuNav {
    display: none;

  }

  .joinUs {
    display: none;
  }

.menu-mobile {
  display: block;
  
}
.bottom-logo {

  margin-left: 0;
}


  .headerContainer {
    display: flex;
    flex-direction: row;
  }

  .header .headerContainer .menu-mobile {
    /* float: right; */
    display: block;
    margin-left: auto;
  }

  footer.footerContainer {
    width: 600px;
}
}




@media screen and (max-width: 940px) {

  /* Footer Mobile */
  .footer{
    display: initial;
      flex-direction: column;
      align-items: center;
  }
  .bottom-logo {

    margin-left: 0;
  }
  .footer-right {
      width: 100%;
      margin-left: 200px;
  }

  .bottom-logo {
    margin-bottom: 36px;
}
footer.footerContainer {
  width: 971px;
}
}


@media screen and (max-width: 869px) {

      /* Footer Mobile */
      .bottom-logo {

        margin-left: 0;
      }
      .footer-right {
        width: 100%;
        margin-left: 100px;
    }
    footer.footerContainer {
      width: 790px;
  }
}



@media screen and (max-width: 765px) {

    /* Footer Mobile */

    .footer-right {
      display: flex;
      margin-left: 38px;
      width: 75%;
  }

  .copyright{

    display: none;
  }
.bottom-logo {

  margin-left: 34px;
}

  .footerNav {
      margin-right: 15px;
  }
  footer.footerContainer {
    width: 472px;
}

}


